body {
    margin: 0;
    background-color: snow;
}
.container {
    display: grid;
    grid-template-columns: 300px repeat(4, 1fr);
    grid-template-rows: 200px 1fr;
}

.dashboard {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px repeat(3, 1fr);
}

.dashboard h2 {
    margin-left: 10px;
    grid-row: 1 / 2;
    font-size: 40px;
}

.dashboard h2 i {
    margin-right: 10px;
}

.dashboard ul {
    list-style-type: none;
    font-size: 30px;
}

.dashboard li i{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 25px;
}

.header{
    margin-top: 0;
    grid-row: 1 / 2;
    grid-column: span 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    background-color: #e6e6e6;
}

.header-section-one {
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    margin-left: 20px;
    place-items: center;
}

.search{
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.search i {
    margin-top: 2px;
    font-size: large;
}

.user-corner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-corner img {
    margin-left: 20px;
    width: 50px;
    border-radius: 50px;
}

.search input {
    margin-left: 20px;
    width: 55%;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(245, 243, 243);
}

.user-corner {
    font-size: 20px;
}
.user-corner p{
    margin-left: 20px;
    display: inline;
    font-weight: bolder;
}

.header-section-two {
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.header-intro {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.header-intro img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-right: 40px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons button {
    margin-right: 20px;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: rgb(183, 241, 241);
}

.buttons button:hover {
    font-weight: bolder;
    background-color: rgb(162, 227, 227);
}

.header-intro-content {
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.main-content{
    grid-row: 2 / 5;
    grid-column: span 5;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.project-container div {
    margin: 0% 0% 5% 0%;
    border: 1px solid rgb(226, 226, 231);
    border-radius: 10px;
    padding: 3%;
    width: 80%;
    border-left-width: 20px;
    border-left-color: rgb(210, 232, 225);
}

.project-content p {
    color: rgb(104, 104, 104);
}

.side-container {
    border: .5px solid rgb(226, 226, 231);
    border-radius: 10px;
    padding: 3%;
    padding-left: 15%;
    padding-right: 13%;
}

.announcement-content {
    margin-bottom: 10%;
    border-bottom: 1px solid;
}

.announcement-content:last-child {
    border-bottom: none;
}

.announcement-content h3 {
    margin-bottom: 2px;
}

.announcement-content p {
    margin-top: 0;
    margin-bottom: 10%;
    color: rgb(104, 104, 104);
}

.trending-content {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
}

.trending-side-container {
    border: .5px solid rgb(226, 226, 231);
    border-radius: 10px;
    padding: 3%;
    padding-left: 0;
    padding-right: 13%;
}

.trending-img {
    margin: 0;
    align-self: center;
}

.trending-img img {
    width: 50px;
    border-radius: 50px;
    float: right;
}

.trending-info {
    margin-left: 10px;
}

.trending-info h3 {
    margin-bottom: 5px;
}

.trending-info p {
    margin-top: 0;
    color: rgb(104, 104, 104);
}
